html {
  min-height: 100%;
}

.brand {
  margin-left: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/background.jpg) repeat;
  background-size: 100%;
  background-position: bottom;

  min-height: 100%;
}

.wide {
  width: 500px;
}

.drop {
  margin-top: 25px;
}

.dropmore {
  margin-top: 50px;
}

.widemore {
  width: 600px;
}

.space {
  margin-left: 12px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  margin-top: 17px;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}
